<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS Sample Page</title>
    <link rel="shortcut icon"  href="favicon.ico" />
    <style>.active { color: red; font-weight: bolder; }</style>
</head>
<script src="angular.js"></script> 
<script src="angular-ui-router.js"></script>
<script src="app.js"></script>
<script src="app_service.js"></script> 
<script src="app.nameFilter.js"></script>
<script src="app.component.js"></script>
<body >
    <a ui-sref="home" ui-sref-active="active">Home</a>
    <a ui-sref="about" ui-sref-active="active">About</a>
    <ui-view></ui-view>
        <student-details my-title="Hello World"></student-details>
    <div ng-controller="MyCtrl">
            
        {{myval}}
        <input type="text" ng-model="myval">
        <button ng-click="onClick()">Click Me</button>
        <div ng-if="!myval">
            No value for myval
        </div>
    </div>
    <br/>
    <br/>
    <div ng-controller="MyCtrl1">
            <student-details my-title="Hello Students" my-list="students"></student-details>
            <br/>
            <br/>
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Seniority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in students">
                    <td>{{item.name | nameFilter:"hello"}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.seniority}}</td>
                    <td><button ng-click="onViewDetailsClick(item)">View Details</button></td>
                </tr>
            </tbody>
        </table>
        
        <student-details my-title="Student Details" current-student="selectedstu"></student-details>
        <!-- <div ng-show="selectedstu"> 
            <h2>Student Details</h2>
            <p>Name: {{selectedstu.name}}</p>
            <p>Age:{{selectedstu.age}}</p>
            <p>Seniority:{{selectedstu.seniority}}</p>
        </div> -->
    </div>
    
</body>

</html>